.body{
    background-color: var(--black);
    width: 100vw;
    
}

.box{
    width: 300px;
    height: 300px;
    background-color: var(--white);    
    position: absolute;
    left: 50vw;
    margin-left: -150px;
    top: 50vh;
    margin-top: -150px;
}

.HomeContainer{
    width:100vw;
    
    background-color: var(--black);
    height: 100vh;
    opacity: 1;
    position: relative;
}

.circle1{
    width:25vw;
    height: 25vw;
    background-color: var(--grey);
    position :fixed;
    z-index: 11;
    top: 0;
    left: 0;
    border-radius: 100%;
    opacity: 0;
    margin-top: -5vw;
    margin-left: -5vw;
    // box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.25);

    
}
.circle2{
    width:100vh;
    height: 100vh;
    margin-top: -50vh;
    background-color: var(--grey);
    position :fixed;
    z-index: 5;
    top: 50%;
    right: -50vh;
    border-radius: 100%;
    opacity: 0;
    // box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.25);

}
.circle3{
    width:50vw;
    height: 50vw;
    background-color: var(--grey);
    position :fixed;
    z-index: 6;
    bottom: -40vw;
    left: -10vw;
    border-radius: 100%;
    opacity: 0;
    // box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.25);

}
.circle4{
    width: 100vw;
    height: 100vw;
    background-color: var(--grey);
    position :fixed;
    z-index: 12;
    bottom: -100vw;
    left: 0vw;
    border-radius: 100%;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.25); 
// box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.25);
}




.text{
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 var(--paddingHorizontal);
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 8vw;
    font-weight: bold;
    .left{
        color: var(--white);
        mix-blend-mode: difference;
        opacity: 1;
    }
    .right{
        color: var(--white);
        mix-blend-mode: difference;
        opacity: 1;
        text-align: end;
    }
}


.infoContainer{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    display: flex;
    z-index: 10;
    color: var(--white);
}
.Hi{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300px;
    font-weight: bold;
    opacity: 1;

}

.description{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    box-sizing: border-box;
    padding: 0 var(--paddingHorizontal);
    font-size: 15px;
    opacity: 0;
}

.project{
    width: 100vw;
    height: 100vh;
    background-color: var(--grey);
}