
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}
.test{
    height: 100vh;
    width: 100%; //90%
    z-index: 1000;
    position: relative;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.test::-webkit-scrollbar {
    width:20px;
    background-color: transparent;
  }
.test::-webkit-scrollbar-thumb{
    background-color: black;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }

:root {
    --white: #EAEAEA;
    --black: #1E1E1E;
    --grey: #303030;
    --lightgrey: #BFBFBF;
    --paddingHorizontal : 80px;
  }