body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --white: #EAEAEA;
    --black: #1E1E1E;
    --grey: #303030;
    --paddingHorizontal : 80px;
  }