.container{
    flex: 2;
    background-color: var(--black);
    height: 100%;
    display: flex;
    flex-direction: column;
    .up{
        flex: 6;
    }
    .down{
        flex:10;
        padding: 0 var(--paddingHorizontal);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: flex-end;
        .ImagesContainer{
            flex: 2;
            width: 100%;
            max-width: 700px;
            background-color: var(--white);
            box-sizing: border-box;
            padding: 20px;
            display: flex;
            gap: 20px;
            .overlay{
                position: absolute;
                top: 0;
                right: 0;
                height: 0%;
                width: 100%;
                background-color: var(--white);
            }
            .left{
                flex: 2;
                background-color: lightgray;
                position: relative;
                min-width: 30%;
            }
            .right{
                flex: 1 0;
                height: 100%;
                display: flex;
                gap: 20px;
                flex-direction: column;
                .up{
                    flex: 1;
                    background-color: rgb(45, 4, 45);
                    position: relative;
                }
                .down{
                    flex: 1;
                    background-color: var(--grey);
                    position: relative;
                }
            }
        }
        .DescMoreContainer{
            flex: 1;
            width: 100%;
            max-width: 700px;
            display: flex;
            gap: 30px;
            .DescContainer{
                flex: 4;
                background-color: var(--white);
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                padding: 20px 40px;
                font-weight: 500;
                font-size: 13px;
                position: relative;
                .overlay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 0%;
                    background-color: var(--white);
                }
            }
            .MoreContainer{
                height: 100%;
                aspect-ratio: 1/1;
                background-color: var(--white);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                position: relative;
                span{
                    font-size: 70px;
                    font-weight: bold;
                    margin-top: -12px;
                }
                span::before{
                    content: "+";
                }
                .overlay{
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 0%;
                    background-color: var(--white);
                }
            }
            .MoreContainer:hover{
                aspect-ratio: 1.5/1;
                transition: all 0.5s ease-in-out;
            }
        }
    }
    .footer{
        flex:1;
    }
    
}



@media screen and (max-width: 768px){
    .container{
        flex: 2;
        background-color: var(--black);
        height: 100%;
        display: flex;
        flex-direction: column;
        .up{
            flex: 5;
        }
        .down{
            flex:7;
            padding: 0 40px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-end;
            .ImagesContainer{
                flex: 1.5;
                width: 100%;
                max-width: 700px;
                background-color: var(--white);
                box-sizing: border-box;
                padding: 10px;
                display: flex;
                gap: 20px;
                
                .left{
                    flex: 2;
                    background-color: lightgray;
                    position: relative;
                }
                .right{
                    display: none;
                }
            }
            .DescMoreContainer{
                flex: 1.5;
                width: 100%;
                max-width: 700px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: center;
                .DescContainer{
                    flex: 1.5;
                    width: 100%;
                    // background-color: var(--white);
                    background-color: transparent;
                    color: var(--white);
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    // box-sizing: border-box;
                    padding: 0 0 0 0;
                    font-weight: 300;
                    
                    font-size: 12px;
                    position: relative;
                    
                }
                .MoreContainer{
                    aspect-ratio: auto;
                    // min-height: 20vw;
                    box-sizing: border-box;
                    flex: 1.5;
                    width: 60vw;
                    border-radius: 40px;
                    background-color: var(--white);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: all 0.5s ease-in-out;
                    position: relative;
                   
                    span{
                        font-size: 5vw;
                        font-weight: 500;
                        margin-top: -2px;
                    }
                    span::before{
                        content: "EN SAVOIR PLUS";
                    }
                    

                }
                .MoreContainer:hover{
                    aspect-ratio: auto;
                    transition: all 0.5s ease-in-out;
                }
                
            }
        }
        .footer{
            flex:4;
        }
        
    }
}




    


