.contrasttext {
    font-size: 100px;
    position: fixed;
    top : 0;
    z-index: 1000;
    background-color: red;
    width: 100%;
    height: 100%;
    // background: inherit;
//     -webkit-background-clip: text;
//     background-clip: text;
//     color: transparent;
//     filter: 
//       sepia(5)      /* add some color to grey so the rest works */
//       saturate(100) /* increase strength of color channels */
//       invert(1)     /* invert the color */
//       grayscale(1)  /* make it grey */
//       contrast(9);  /* make it black/white */
//   }
}