.container{
    background-color: var(--black);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 90;
    opacity: 0;
    display: none;
   
   
}

.top{
    width: 100%;
    margin-top: 25vh;
    color: var(--white);
    font-size: 7vw;
    padding: 0 40px;
    box-sizing: border-box;
    font-weight: 300;
    
    
}

.bot{
    margin-top: 30px;
    color: var(--white);
    box-sizing: border-box;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .MenuSelection{
        font-weight: 200;
        font-size: 5vw;
        text-decoration: underline;
    }
    .buttonContainer{
        margin-top: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        .button{
            width: 60vw;
            height: 20vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            font-size: 5vw;
            color: var(--black);
            border-radius: 40px;
            background-color: var(--white);
        }
    }
}

.SectionContainer{
    display: flex;
    gap: 20px;
    width: 100%;
    font-size: 13vw;
    padding: 0 0;
    font-weight: bold;
    overflow: hidden;
    overflow-x: scroll;
    flex-direction: row;
    color: var(--white);
    position: relative;
    .Sections{
        display:flex;
        height: 100%;
        gap: 30px;
        .Section:first-child{
            margin-left: 40px;
        }
        .Section:last-child{
            width: calc(100vw - 40px);
        }
       
    }
   

    &::-webkit-scrollbar {
        display: none;
      }

    
    

}


@media only screen and (min-width: 768px) {
    .container{
        display: none;
    }
    
}