.container{
    display: none;
}
.infoContainer{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    display: flex;
    z-index: 2;
    color: var(--white);
}
.Hi{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    span:first-child{
        font-size: 20vw;
        font-weight: bold;
        margin-top: 0;
    }

    span:last-child{
        font-size: 4vw;
        font-weight: 300;
        margin-top: -35px;
    }
    
}

.description{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 1.2vw;
    span{
        box-sizing: border-box;
        padding: 0 var(--paddingHorizontal);
    }
}




.AnimationOut{
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    top: 0;
    z-index: 3;
    right: -100%;
}

.background{
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    position: fixed;
    z-index: 1;
    opacity: 0;

}



.circle1{
    width:25vw;
    height: 25vw;
    background-color: var(--grey);
    position :fixed;
    z-index: 3;
    top: 0;
    left: 0;
    border-radius: 100%;
    opacity: 0;
    margin-top: -5vw;
    margin-left: -5vw;

    
}
.circle2{
    width:100vh;
    height: 100vh;
    margin-top: -50vh;
    background-color: var(--grey);
    position :fixed;
    z-index: 2;
    top: 50%;
    right: -50vh;
    border-radius: 100%;
    opacity: 0;

}
.circle3{
    width:50vw;
    height: 50vw;
    background-color: var(--grey);
    position :fixed;
    z-index: 2;
    bottom: -40vw;
    left: -10vw;
    border-radius: 100%;
    opacity: 0;

}

.circle4{
    width:20vw;
    height: 20vw;
    background-color: var(--grey);
    position :fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);

    border-radius: 100%;
    opacity: 0;

}


@media only screen and (max-width: 768px) {
    .circle1{
        width: 75vw;
        height: 75vw;
        margin-top: -20vw;
        margin-left: -10vw;
        z-index: 2;
    }
    .circle2{
        width: 100vw;
        height: 100vw;
        margin-top: -50vw;
        right: -50vw;
    }
    .circle3{
        width: 100vw;
        height: 100vw;
        bottom: -60vw;
        left: -10vw;
    }

    .infoContainer{
        flex-direction: column;
    }

    .Hi{
        font-size: 8vw;
        z-index: 4;
        flex: 2;
        flex-direction: column;
        justify-content: flex-end;
        // margin-top: 75px;
        span:first-child{
            font-size: 40vw;
            margin-top: 50px;
        }
        span:last-child{
            margin-top: -30px;
            font-weight: 300;
            font-size: 8vw;

        }
    }
    .description{
        font-size: 3vw;
        flex: 3;
        span{
            padding: 0 40px;

            text-align :justify;
        }
        span:last-child{
            margin-bottom: 0px;
        }
    }

}